body, html {
    height: 100%;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #1e1e1e;
    color: #ccc;
}

.vscode {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #252526;
    padding: 20px;
}

.logo img {
    width: 100%;
    padding: 10px 0;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li a {
    display: block;
    padding: 10px;
    color: #ccc;
    text-decoration: none;
    border-left: 3px solid transparent;
}

.menu li a.active, .menu li a:hover {
    border-left-color: #569cd6;
}

.container {
    flex-grow: 1;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 30px;
    color: #569cd6;
}

.header h1 span {
    color: #ccc;
}

.header p {
    font-size: 20px;
    margin-top: -10px;
    color: #dcdcdc;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
}

.skills button, .navigation button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.skills button:hover, .navigation button:hover {
    background-color: #444;
}

.about {
    background-color: #007acc;
}

.contact {
    background-color: #5bb12f;
}

.contract {
    background-color: #a333c8;
}